@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-blue: #10384f;
  --raspberry: #d30f4b;
}

body {
  text-shadow: 1px 1px 3px black;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  white-space: normal !important;
  text-align: center;
}

/* @layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
} */

@media screen and (min-width: 767px) {
}
